@media screen and (max-width: 767px) {
  .inner {
    width: 100%;
    padding: 0 10px;
  }
  header ul.gnb {
    display: none;
  }
  .top-btn {
    width: 50px;
    height: 50px;
  }
  .top-btn span {
    display: none;
  }
  .m-menu .menu-list {
    width: 100%;
  }
  .m-menu .menu-list > li h3 {
    cursor: pointer;
  }
  .m-menu .menu-list > li h3::after {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    content: "\f106";
    font-family: fontawesome;
    font-size: 20px;
  }
  .m-menu .menu-list > li h3.active::after {
    transform: rotate(180deg);
  }
  .m-menu .menu-list > li .depth1 {
    display: none;
    border: 1px solid transparent;
  }
  .m-menu .menu-list > li .depth1 > li {
    margin: 0px;
  }
  .m-menu .menu-list > li .depth1 > li > a {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
    background: #fff;
    color: #777;
  }
  .m-menu .menu-list > li .depth1 > li > a::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 10px;
    vertical-align: middle;
    background: #0D81A0;
    border-radius: 50%;
  }
  .m-menu .menu-list > li .depth1 .depth2 {
    display: none;
  }
  .m-menu .close-btn {
    width: 50px;
    height: 50px;
    right: 10px;
  }
  main .main-info {
    flex-direction: column;
  }
  main .main-info .main-slider {
    width: 100%;
  }
  main .main-info .main-slider .main-swiper {
    width: 100% !important;
    height: auto;
    margin: 0;
  }
  main .main-info .main-guide .main-search {
    margin: 30px 0;
  }
  main .main-info .main-guide .main-search label span {
    display: none;
  }
  main .main-info .main-guide .main-search .hashtag {
    display: none;
  }
  main .main-info .main-guide .main-items .item {
    flex: 1 50%;
    justify-content: start;
    padding: 15px;
  }
  main .main-info .main-guide .main-items .item-img {
    flex: 1;
  }
  main .main-info .main-guide .main-items .item-txt {
    flex: 5;
  }
  main .main-info .main-guide .main-items .item-txt .title {
    font-size: 90%;
    font-weight: normal;
  }
  main .main-info .main-guide .main-items .item-txt .txt {
    display: none;
  }
  main .main-category::before {
    margin: 0 2px;
  }
  main .main-category .category-wrap {
    flex-direction: column;
    align-items: start;
  }
  main .main-category .category-wrap .title {
    margin: 0;
  }
  main .main-category .category-wrap .title::after {
    display: none;
  }
  main .main-category .category-wrap .icon-list {
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  main .main-category .category-wrap .icon-list li {
    flex: 1 25%;
    padding: 0;
    font-size: 80%;
  }
  main .main-category .category-wrap .icon-list li > a {
    width: 100%;
  }
  main .main-category .category-wrap .all-menu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 10px;
    line-height: 0;
    height: auto;
    width: auto;
    padding: 15px;
  }
  main .main-category .category-wrap .all-menu::before {
    position: static;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 7px;
  }
  /* totalcare section */
  section.totalcare .totalcare-content {
    flex-direction: column;
    padding: 0;
  }
  section.totalcare .totalcare-content .consult {
    text-align: center;
    width: 100%;
    gap: 0;
    flex-direction: column;
  }
  section.totalcare .totalcare-content .consult-img img {
    width: 90%;
  }
  section.totalcare .totalcare-content .consult-apply p {
    font-weight: 400;
    margin: 10px 0;
  }
  section.totalcare .totalcare-content .consult-apply .sub-txt {
    margin-bottom: 20px;
  }
  section.totalcare .totalcare-content .consult-apply .applying {
    display: inline-block;
  }
  section.totalcare .totalcare-content .api-list {
    margin: 40px 5px;
  }
  section.totalcare .totalcare-content .api-list .list-items li .sub-txt {
    width: 100%;
  }
  section.totalcare .totalcare-guide {
    flex-direction: column;
    height: auto;
  }
  section.totalcare .totalcare-guide .title {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    text-align: left;
    margin: 0;
  }
  section.totalcare .totalcare-guide .title b {
    margin-right: 10px;
    display: inline-block;
  }
  section.totalcare .totalcare-guide .guide-list {
    flex-wrap: wrap;
  }
  section.totalcare .totalcare-guide .guide-list li {
    flex: 1 30%;
    height: 100px;
    font-size: 13px;
  }
  section.simulation .simulation-swiper {
    margin-top: 30px;
    position: relative;
  }
  section.simulation .simulation-swiper .simulation-swiper-control {
    justify-content: center;
    margin-bottom: 70px;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-next.simul-btn-next {
    position: absolute;
    top: 45%;
    right: 2%;
    z-index: 100;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-next.simul-btn-next::after {
    font-size: 35px;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-prev.simul-btn-prev {
    position: absolute;
    top: 45%;
    left: 2%;
    z-index: 100;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-prev.simul-btn-prev::after {
    font-size: 35px;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .simulation-swiper-play-btn {
    margin-left: 10px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content {
    opacity: 0.5;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .content-top {
    margin-bottom: 20px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .content-top .circle {
    width: 100px;
    height: 100px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .content-top .pop {
    padding: 5px;
    width: 50%;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .txt {
    font-size: 14px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide-active .simulation-content {
    opacity: 1;
    width: 90%;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide-active .simulation-content .content-top .circle {
    width: 100%;
    height: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4117647059);
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide-active .simulation-content .content-top .pop {
    width: 100%;
    font-size: 13px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide-active .simulation-content .title {
    font-size: 13px;
    white-space: nowrap;
  }
  section.recommendation .swiper-control {
    padding: 0 10px;
  }
  section.recommendation .swiper-control .swiper-button-next.reco-btn-next,
  section.recommendation .swiper-control .swiper-button-prev.reco-btn-prev {
    display: none;
  }
  section.recommendation .swiper-control .fraction-pagination {
    display: none;
  }
  section.recommendation .swiper-control .recommend-pagination {
    width: 100%;
  }
  section.recommendation .swiper-control .reco-swiper-play-btn {
    display: none;
  }
  section.notice .notice-wrap {
    flex-direction: column;
  }
  section.notice .notice-wrap .notice-content .notice-tab .tab li {
    padding: 5px;
    font-size: 13px;
  }
  section.notice .notice-wrap .notice-content .notice-tab .info .txt li {
    font-size: 10px;
  }
  section.notice .notice-wrap .notice-content .notice-tab .info .txt li a {
    font-size: 12px;
  }
  section.notice .notice-wrap .notice-content .notice-tab .info .txt li a .data {
    flex: 4;
    margin-right: 10px;
  }
  section.notice .notice-wrap .notice-content .notice-tab .info .txt li a .date {
    flex: 1;
  }
  footer {
    margin-top: 50px;
  }
  footer .f-top .inner li {
    margin: 0 10px 10px 0;
    font-size: 13px;
  }
  footer .f-top .inner li::before {
    margin-right: 3px;
  }
  footer .f-btm {
    padding: 10px 0;
  }
  footer .f-btm .f-wrap {
    flex-direction: column-reverse;
  }
  footer .f-btm .f-wrap .f-info address {
    font-size: 13px;
  }
  footer .f-btm .f-wrap .f-info ul {
    flex-wrap: wrap;
  }
  footer .f-btm .f-wrap .f-link {
    margin-bottom: 25px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  footer .f-btm .f-wrap .f-link .mark img {
    width: 80%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1199px) {
  .inner {
    width: 100%;
    max-width: 1199px;
    padding: 0 10px;
  }
  section, footer {
    margin: 20px 0;
  }
  header ul.gnb {
    display: none;
  }
  main .main-info {
    flex-direction: column;
  }
  main .main-info .main-slider {
    width: 100%;
  }
  main .main-info .main-slider .main-swiper {
    width: 100%;
    height: auto;
    margin: 0;
  }
  main .main-info .main-guide .main-search {
    margin: 20px 0;
  }
  main .main-info .main-guide .main-search label span {
    display: none;
  }
  main .main-info .main-guide .main-search .hashtag {
    display: none;
  }
  main .main-info .main-guide .main-items .item {
    flex: 1 50%;
    justify-content: start;
    padding: 15px;
  }
  main .main-info .main-guide .main-items .item-img {
    flex: 1;
  }
  main .main-info .main-guide .main-items .item-txt {
    flex: 5;
  }
  main .main-info .main-guide .main-items .item-txt .title {
    font-size: 90%;
    font-weight: normal;
  }
  main .main-info .main-guide .main-items .item-txt .txt {
    display: none;
  }
  main .main-category::before {
    margin: 0 2px;
  }
  main .main-category .category-wrap {
    flex-direction: column;
    align-items: start;
  }
  main .main-category .category-wrap .title {
    margin: 0;
  }
  main .main-category .category-wrap .title::after {
    display: none;
  }
  main .main-category .category-wrap .icon-list {
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  main .main-category .category-wrap .icon-list li {
    flex: 1 20%;
    padding: 0;
    font-size: 80%;
  }
  main .main-category .category-wrap .icon-list li > a {
    width: 100%;
  }
  main .main-category .category-wrap .all-menu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 10px;
    line-height: 0;
    height: auto;
    width: auto;
    padding: 15px;
  }
  main .main-category .category-wrap .all-menu::before {
    position: static;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 7px;
  }
  /* totalcare section */
  section.totalcare .totalcare-content {
    flex-direction: column;
    padding: 0;
  }
  section.totalcare .totalcare-content .consult {
    text-align: center;
    width: 100%;
    gap: 0;
    flex-direction: column;
  }
  section.totalcare .totalcare-content .consult-img img {
    width: 90%;
  }
  section.totalcare .totalcare-content .consult-apply p {
    font-weight: 400;
    margin: 10px 0;
  }
  section.totalcare .totalcare-content .consult-apply .sub-txt {
    margin-bottom: 20px;
  }
  section.totalcare .totalcare-content .consult-apply .applying {
    display: inline-block;
  }
  section.totalcare .totalcare-content .api-list {
    margin: 40px 5px;
  }
  section.totalcare .totalcare-content .api-list .list-items li .sub-txt {
    width: 100%;
  }
  section.totalcare .totalcare-guide {
    flex-direction: column;
    height: auto;
  }
  section.totalcare .totalcare-guide .title {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    text-align: left;
    margin: 0;
  }
  section.totalcare .totalcare-guide .title b {
    margin-right: 10px;
    display: inline-block;
  }
  section.totalcare .totalcare-guide .guide-list {
    flex-wrap: wrap;
  }
  section.totalcare .totalcare-guide .guide-list li {
    flex: 1 30%;
    height: 100px;
    font-size: 13px;
  }
  section.simulation .simulation-swiper {
    margin-top: 30px;
    position: relative;
  }
  section.simulation .simulation-swiper .simulation-swiper-control {
    justify-content: center;
    margin-bottom: 70px;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-next.simul-btn-next {
    position: absolute;
    top: 45%;
    right: 2%;
    z-index: 100;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-next.simul-btn-next::after {
    font-size: 35px;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-prev.simul-btn-prev {
    position: absolute;
    top: 45%;
    left: 2%;
    z-index: 100;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-prev.simul-btn-prev::after {
    font-size: 35px;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .simulation-swiper-play-btn {
    margin-left: 10px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content {
    opacity: 0.5;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .content-top {
    margin-bottom: 20px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .content-top .circle {
    width: 100px;
    height: 100px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .content-top .pop {
    padding: 5px;
    width: 50%;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .txt {
    font-size: 14px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide-active .simulation-content {
    opacity: 1;
    width: 90%;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide-active .simulation-content .content-top .circle {
    width: 100%;
    height: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4117647059);
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide-active .simulation-content .content-top .pop {
    width: 100%;
    font-size: 12px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide-active .simulation-content .txt .title {
    font-size: 13px;
    white-space: nowrap;
    border: 1px solid #000;
  }
  section.recommendation .swiper-control {
    padding: 0 10px;
  }
  section.recommendation .swiper-control .swiper-button-next.reco-btn-next,
  section.recommendation .swiper-control .swiper-button-prev.reco-btn-prev {
    display: none;
  }
  section.recommendation .swiper-control .fraction-pagination {
    display: none;
  }
  section.recommendation .swiper-control .recommend-pagination {
    width: 100%;
  }
  section.recommendation .swiper-control .reco-swiper-play-btn {
    display: none;
  }
  section.notice .notice-wrap {
    flex-direction: column;
  }
  section.notice .notice-wrap .notice-content .notice-tab .tab li {
    padding: 5px;
    font-size: 13px;
  }
  section.notice .notice-wrap .notice-content .notice-tab .info .txt li {
    font-size: 10px;
  }
  section.notice .notice-wrap .notice-content .notice-tab .info .txt li a {
    font-size: 12px;
  }
  section.notice .notice-wrap .notice-content .notice-tab .info .txt li a .data {
    flex: 4;
    margin-right: 10px;
  }
  section.notice .notice-wrap .notice-content .notice-tab .info .txt li a .date {
    flex: 1;
  }
  footer {
    margin-top: 50px;
  }
  footer .f-top .inner li {
    margin: 0 10px 10px 0;
    font-size: 13px;
  }
  footer .f-top .inner li::before {
    margin-right: 3px;
  }
  footer .f-btm {
    padding: 10px 0;
  }
  footer .f-btm .f-wrap {
    flex-direction: column-reverse;
  }
  footer .f-btm .f-wrap .f-info address {
    font-size: 13px;
  }
  footer .f-btm .f-wrap .f-info ul {
    flex-wrap: wrap;
  }
  footer .f-btm .f-wrap .f-link {
    margin-bottom: 25px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  footer .f-btm .f-wrap .f-link .mark img {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .main-info .main-guide .main-search {
    margin-bottom: 50px;
  }
}