/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
}
.container {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    /* centering */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    transition: 0.5s;
}
.front {
    z-index: 1;
    background: yellowgreen;
    opacity: 1;
}
.back {
    background: crimson;
}
.close-nav,
.open-nav {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}
.close-nav {
    right: -40px;
}
.open-nav {
    left: 0;
}
.open-nav.active {
    left: -40px;
}
.close-nav.active {
    right: 0;
}
@media (min-width: 374px) and (max-width: 768px) {
    .front,
    .back {
        font-size: 25px;
    }
}