[submodule "mydata-clone"]
	path = website/mydata-clone
	url = https://github.com/JOON7160/mydata-clone

[submodule "novita-clone"]
	path = website/novita-clone
	url = https://github.com/JOON7160/novita-clone
