.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.tab {
    input[type=radio] {
        @include hide;
    }
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 45px;
        border-radius: 15px;
        color: $black00;
        font-size: 30px;
        font-weight: bold;
        font-family: $eg-font;
        background: $grayf5;
        cursor: pointer;
        padding: 25px 10px;
    }
    input[name=tabs]:checked + label {
        background: $lightblue9b;
        color: $whiteff;
    }
    &:nth-of-type(3) label {
        width: 250px;
    }
}

